<h3>Subjects</h3>

<%= button_to "Add Subject", new_subject_path, :id => "open-contacts-dialog-btn",
              :class => "btn btn-primary", :method => :get %>

<br>
<br>
<br>

<table id="subjects" class="display" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Working Hours</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.code %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Delete', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<br>



